.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.footer__navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.about-company {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__description {
  display: none;
}

.downloads {
  margin-top: 31px;
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  margin-top: 60px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.additional-navigation__column {
  margin-right: 29px;
}

.nav-links {
  width: 265px;
}

.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}

.nav-links__list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.footer__line {
  width: 100%;
  border-top: 1px solid #2b292d;
  opacity: 0.1;
  margin: 0;
}

.footer__links {
  height: 50px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.terms {
  line-height: 50px;
  font-size: 14px;
}

.footer__terms_item {
  text-decoration: none;
  color: #2b292d;
  opacity: 0.6;
  margin-right: 22px;
}

.social-links {
  margin-left: auto;
}

.social-links__item {
  margin-left: 20px;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-vertical__text {
  margin-top: 20px;
}

.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.logo-vertical__description {
  font-size: 20px;
  line-height: 25px;
  opacity: 0.6;
  text-align: center;
}

.logo-vertical__image {
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 400px) {
  .logo-vertical {
    display: none;
  }

  .footer__description {
    display: block;
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    color: rgba(43, 41, 45, 0.6);
    margin-top: 26px;
  }

  .footer__navigation {
    width: 1140px;
    height: 338px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .about-company {
    margin-top: 44px;
    border: none;
  }

  .additional-navigation {
    margin-top: 60px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  .downloads {
    margin-top: 25px;
  }
}

@media screen and (max-width: 399px) {
  .footer .logo {
    display: none;
  }
}
